obj/
bin/
node_modules/
Database/
Migrations/
datasamples/
Logs/
lcpapi/wwwroot/assets/images/animes
lcpapi/wwwroot/assets/images/games
lcpapi/wwwroot/assets/images/movies
lcpapi/wwwroot/assets/images/tvseries
lcpapi/wwwroot/assets/images/books
lcpapi/wwwroot/assets/files
lcpapi.library/wwwroot/assets/images/animes
lcpapi.library/wwwroot/assets/images/games
lcpapi.library/wwwroot/assets/images/movies
lcpapi.library/wwwroot/assets/images/tvseries
lcpapi.library/wwwroot/assets/images/books
lcpapi.library/wwwroot/assets/files
lcpapi/SSL/Certs
lcpapi/SSL/Keys
